<%- include('../partials/header') -%>

<div class="container w-50 mt-5">
    <h2 class="text-danger m-3">404. Page Does not exist.</h2>
    <a class="m-3 h5 text-primary" href="/login">Go to Login Page</a>
</div>

<%- include('../partials/footer') -%>